* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	background-color: rgb(243, 243, 243);
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: centr;
	padding: 40px;
	height: 120px;
}

.menu button,
.note-panel .save,
.note-panel .cancel {
	padding: 12px 25px;
	background: none;
	border: 1px solid grey;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}
.menu button .fa-trash-alt {
	padding-right: 5px;
}
.menu button:hover,
.note-panel .save:hover,
.note-panel .cancel:hover {
	background-color: #333;
	color: #ddd;
}

.icon {
	margin-right: 10px;
}

.add {
	margin-right: 20px;
}
.note-area {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	padding: 20px;
}

.note {
	margin: 40px 20px;
	width: 240px;
	background-color: rgb(243, 230, 171);
	border: 1px solid black;
}

.note-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: rgba(37, 29, 29, 0.196);
}

.note-header .delete-note {
	background: none;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

.note-body {
	padding: 15px 15px;
	font-size: 13px;
}

.note-panel {
	display: none;
	justify-content: center;
	background-color: rgb(230, 236, 236);
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 20px;
	width: 650px;
	box-shadow: 24px 21px 41px 54px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.note-panel h2 {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.note-panel label {
	margin-bottom: 10px;
}

.note-panel #text,
.note-panel #category {
	margin-bottom: 20px;
	padding: 10px 0;
	width: 100%;
	max-width: 90%;
	max-height: 600px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid rgb(0, 0, 0);
}

.note-panel .error {
	margin-bottom: 20px;
	color: red;
	visibility: hidden;
}
